@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

// Global Color
$color-main: #d1132a;
$color-white: #ffffff;
$color-black: #32323d;
$color-gray: #6c6868;
$color-border: #dddddd;
$sidebar-bg: rgba(0, 0, 0, 0.05);

$text-secondary: rgba(0, 0, 0, 0.6);
$alpha-bg: rgba(0, 0, 0, 0.05);

// Font Family
$font-family: "Inter", sans-serif;

// Font Weight
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
